.subtitulo {
  padding-left: 470px;
  margin-top: 100px;
  margin-bottom: 50px;
}
.tarefa {
  padding-left: 50px;
}
.status {
  padding-left: 300px;
}
.opcoes {
  padding-left: 260px;
}
.subtitulo1 {
  align-items: center;
}
